.btn-liked {
  background: #cc66ff;
  color: greenyellow;
  font-weight: 600;
}

.btn-like{
    border:none !important;
    border-radius:3px;
    padding:7px;
}

.tag{
  padding:5px 7px;
  color:grey;
  cursor: pointer;
  &:hover{
    background:lightgrey;
    border-radius:3px;
  }
}
