header {
    color: #ffffff !important;
    padding: 7px 20px;
    background-color: #9900ff;
    width:100%;
    display: flex;
    justify-content: space-between;
    height: 75px;
    overflow: hidden;
    #back-btn{
        font-size:1.5rem;
    }
    .logo-title {
        font-size: 1.2rem;
        text-transform: uppercase;
    }
}
